doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		title VLT Carioca – Horários

		meta(name="description", content="Horário dos próximos trens do VLT Carioca")

		//- CSS
		if (env === "development")
			link(rel="stylesheet", href="vlt.css")
		else
			link(rel="stylesheet", href="./../../public/vlt.css", inline)

		//- Meta tags para vários sistemas
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="application-name", content="VLT Carioca")
		meta(name="apple-mobile-web-app-title", content="VLT Carioca")
		meta(name="theme-color", content="#00285f")
		meta(name="msapplication-navbutton-color", content="#00285f")
		meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		meta(name="msapplication-starturl", content="/")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		//- if (env === "production")
		link(rel="manifest", href="/manifest.json")
		link(rel="icon" type="image/png" sizes="512x512" href="/icon.png")
		link(rel="apple-touch-icon" type="image/png" sizes="512x512" href="/icon.png")

		script var env = "#{env}";
		script var endpoints = !{endpoints};

	body: .app

		//- ////////////////////////////////////////////////////////////////////////////////////////
		//- Lista de paradas
		.navigation
			.navigation-header
				h1
					span.station-name
					span.placeholder
				i.navigation-trigger.material-icons menu
				//- i.about-trigger.material-icons more_vert
			.navigation-content
				ul.stations
				.settings
					a.theme(href="#theme")
						.current-theme
						i.material-icons brightness_auto
						span

		//- ////////////////////////////////////////////////////////////////////////////////////////
		//- Painel de horários
		.panel
			.panel-header
				.title
				.badge
			.panel-content
				.station
				.closed
				//- .offline
				.permission
					a.button(href="#")
						i.material-icons near_me
						span
				.loading: .animation
			.panel-footer
				.network
					.icon.material-icons
					.text
				.status.-mode--collapsed
					.icon.material-icons
					.text

	//- ////////////////////////////////////////////////////////////////////////////////////////////

	//- Scripts
	- var inline = env === "development"? false : true;
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js", integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js", integrity="sha384-fYxN7HsDOBRo1wT/NSZ0LkoNlcXvpDpFy6WzB42LxuKAX7sBwgo7vuins+E1HCaw", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js", integrity="sha384-rMnAUuld2UG2Cd+wqmGwCPZGHemXzhyJss9LFN3y2b8FNsBOrGEHpbeUFMiP1rx+", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js", integrity="sha384-1qAUeyS6EIOskM+UWGhJh3qUqepgvqXZ12P6NiY/UiUeeaHSLMAKMyRpJ3gd4vTG", crossorigin="anonymous")

	if (env === "development")
		script(src="vlt.js", inline=inline)
	else
		script(src="./../../public/vlt.js", inline=inline)
